
    .coeur-conten {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }
    .coeur-trans{
        transition: opacity 100ms 200ms;
    }
    .coeur-conten:hover {
        .coeur-trans {
            opacity: 0;
        }
        .coeur-solid-img {
            transform: scale(1);
        }
    }
   /* @include desktop-only {
        .coeur-conten:hover {
            .coeur-trans {
               opacity: 0;
           }
           .coeur-solid-img {
               transform: scale(1);
           }
       }
    }*/
    img {
        width: 100%;
        height: 100%;
    }
    .coeur__solid {
        position: absolute;
        top: -15px;
        z-index: -1;
        .coeur-solid-img {
            transform: scale(0);
            transition: transform 300ms;
            filter: invert(74%) sepia(73%) saturate(4617%) hue-rotate(237deg) brightness(88%) contrast(94%);
        }
    }

