
.body-acceuil {
    
    background-color: white;
    position: relative;
    z-index: -1;
    height: auto;
    
   .spinner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0px;
        background-color: white;
        transform: translateX(-9999px);
        opacity: 0;
        animation: spin-bloc 1s;
        z-index: 2;
        img {
            width: 200px;
            position: relative;
            top: -500px;
            filter: invert(40%) sepia(38%) saturate(3435%) hue-rotate(242deg) brightness(90%) contrast(91%);
            animation: spin 1s ; 
        }
    }
}
 