.titre-menu {
   /* margin-top: -15px;
    position: relative;
    top: 20px;*/
    &__bar {
        width: 30px;
        height: 2px;
        background-color: $color-tertiaire;
        position: relative;
        top: -10px;
    
    } 
}