.plat-contener2 {
    width: 90%;
    height: auto; /*250px*/
    margin: auto;
   .sous-contener1 {
        position: relative;
        top: 0px;
    }
    .titre-menu {
        position: relative;
             top: 0px;
        
         p {
             font-size: 13px;
             font-weight: 300;
             
         }
     }
    
}